# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @Foxengine/buildsystem
.github/                            @Foxengine/buildsystem
*.py                                @Foxengine/buildsystem
SConstruct                          @Foxengine/buildsystem
SCsub                               @Foxengine/buildsystem

# Core

/core/                              @Foxengine/core
/core/crypto/                       @Foxengine/network
/core/debugger/                     @Foxengine/debugger
/core/input/                        @Foxengine/input

# Doc

/doc/                               @Foxengine/documentation
doc_classes/*                       @Foxengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @Foxengine/audio
/drivers/alsamidi/                  @Foxengine/audio
/drivers/coreaudio/                 @Foxengine/audio
/drivers/coremidi/                  @Foxengine/audio
/drivers/pulseaudio/                @Foxengine/audio
/drivers/wasapi/                    @Foxengine/audio
/drivers/winmidi/                   @Foxengine/audio
/drivers/xaudio2/                   @Foxengine/audio

## Rendering
/drivers/dummy/                     @Foxengine/rendering
/drivers/spirv-reflect/             @Foxengine/rendering
/drivers/vulkan/                    @Foxengine/rendering

## OS
/drivers/unix/                      @Foxengine/_platforms
/drivers/windows/                   @Foxengine/windows

## Misc
/drivers/png/                       @Foxengine/import

# Editor

/editor/*debugger*                  @Foxengine/debugger
/editor/icons/                      @Foxengine/usability
/editor/import/                     @Foxengine/import
/editor/plugins/*2d_*.*             @Foxengine/2d-editor
/editor/plugins/*3d_*.*             @Foxengine/3d-editor
/editor/plugins/script_*.*          @Foxengine/script-editor
/editor/plugins/*shader*.*          @Foxengine/shaders
/editor/code_editor.*               @Foxengine/script-editor
/editor/*dock*.*                    @Foxengine/docks
/editor/*shader*.*                  @Foxengine/shaders

# Main

/main/                              @Foxengine/core

# Misc

/misc/                              @Foxengine/buildsystem

# Modules

## Audio (+ video)
/modules/minimp3/                   @Foxengine/audio
/modules/ogg/                       @Foxengine/audio
/modules/opus/                      @Foxengine/audio
/modules/stb_vorbis/                @Foxengine/audio
/modules/theora/                    @Foxengine/audio
/modules/vorbis/                    @Foxengine/audio
/modules/webm/                      @Foxengine/audio

## Import
/modules/basis_universal/           @Foxengine/import
/modules/bmp/                       @Foxengine/import
/modules/cvtt/                      @Foxengine/import
/modules/dds/                       @Foxengine/import
/modules/etc/                       @Foxengine/import
/modules/fbx/                       @Foxengine/import
/modules/gltf/                      @Foxengine/import
/modules/hdr/                       @Foxengine/import
/modules/jpg/                       @Foxengine/import
/modules/pvr/                       @Foxengine/import
/modules/squish/                    @Foxengine/import
/modules/svg/                       @Foxengine/import
/modules/tga/                       @Foxengine/import
/modules/tinyexr/                   @Foxengine/import
/modules/webp/                      @Foxengine/import

## Network
/modules/enet/                      @Foxengine/network
/modules/mbedtls/                   @Foxengine/network
/modules/upnp/                      @Foxengine/network
/modules/webrtc/                    @Foxengine/network
/modules/websocket/                 @Foxengine/network

## Rendering
/modules/denoise/                   @Foxengine/rendering
/modules/glslang/                   @Foxengine/rendering
/modules/lightmapper_rd/            @Foxengine/rendering
/modules/meshoptimizer/             @Foxengine/rendering
/modules/vhacd/                     @Foxengine/rendering
/modules/xatlas_unwrap/             @Foxengine/rendering

## Scripting
/modules/gdnative/                  @Foxengine/gdnative
/modules/gdscript/                  @Foxengine/gdscript
/modules/jsonrpc/                   @Foxengine/gdscript
/modules/mono/                      @Foxengine/mono
/modules/visual_script/             @Foxengine/visualscript

## Text
/modules/freetype/                  @Foxengine/buildsystem
/modules/gdnative/text/             @Foxengine/gui-nodes
/modules/text_server_adv/           @Foxengine/gui-nodes
/modules/text_server_fb/            @Foxengine/gui-nodes

## XR
/modules/camera/                    @Foxengine/xr
/modules/gdnative/xr/               @Foxengine/xr
/modules/mobile_vr/                 @Foxengine/xr
/modules/webxr/                     @Foxengine/xr

## Misc
/modules/bullet/                    @Foxengine/physics
/modules/csg/                       @Foxengine/3d-nodes
/modules/gdnavigation/              @Foxengine/navigation
/modules/gridmap/                   @Foxengine/3d-nodes
/modules/opensimplex/               @Foxengine/3d-nodes
/modules/regex/                     @Foxengine/core

# Platform

/platform/android/                  @Foxengine/android
/platform/iphone/                   @Foxengine/ios
/platform/javascript/               @Foxengine/html5
/platform/linuxbsd/                 @Foxengine/linux-bsd
/platform/osx/                      @Foxengine/macos
/platform/uwp/                      @Foxengine/uwp
/platform/windows/                  @Foxengine/windows

# Scene

/scene/2d/                          @Foxengine/2d-nodes
/scene/3d/                          @Foxengine/3d-nodes
/scene/animation/                   @Foxengine/animation
/scene/audio/                       @Foxengine/audio
/scene/debugger/                    @Foxengine/debugger
/scene/gui/                         @Foxengine/gui-nodes
/scene/main/                        @Foxengine/core
/scene/resources/default_theme/     @Foxengine/gui-nodes
/scene/resources/font.*             @Foxengine/gui-nodes
/scene/resources/text_line.*        @Foxengine/gui-nodes
/scene/resources/text_paragraph.*   @Foxengine/gui-nodes
/scene/resources/visual_shader*.*   @Foxengine/shaders

# Servers

/servers/audio*                     @Foxengine/audio
/servers/camera*                    @Foxengine/xr
/servers/display_server.*           @Foxengine/_platforms
/servers/navigation_server*.*       @Foxengine/navigation
/servers/physics*                   @Foxengine/physics
/servers/rendering*                 @Foxengine/rendering
/servers/text_server.*              @Foxengine/gui-nodes
/servers/xr*                        @Foxengine/xr

# Tests

/tests/                             @Foxengine/tests

# Thirdparty

/thirdparty/                        @Foxengine/buildsystem
