<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Foxengine.Fox"
    android:versionCode="1"
    android:versionName="1.0">

    <application>

        <!-- Records the version of the Fox library -->
        <meta-data
            android:name="org.Foxengine.library.version"
            android:value="${FoxLibraryVersion}" />

        <service android:name=".FoxDownloaderService" />

    </application>

    <instrumentation
        android:icon="@mipmap/icon"
        android:label="@string/Fox_project_name_string"
        android:name="org.Foxengine.Fox.FoxInstrumentation"
        android:targetPackage="org.Foxengine.Fox" />

</manifest>
